.ant-drawer-header {
  height: 64px;

  padding: 0;

  background-color: @magenta;
  border-radius: 0;

  .ant-drawer-title {
    height: 100%;
    width: 100%;

    .drawer-title-container {
      display: flex;

      height: 100%;
      width: 100%;

      .drawer-header-title {
        display: flex;
        flex: 1;
        align-items: center;

        padding-left: 15px;

        color: @white;
      }

      .header-toggle-button {
        margin: 10px;

        background-color: @magenta;
        border: 0;
        color: @white;
        font-size: 30px;
      }
    }
  }
}

.ant-drawer-body {
  padding: 0;
}
