.ant-layout-header {
  padding: 0px;

  background-color: @magenta;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-toggle-button {
      margin: 10px;

      background-color: @magenta;
      border: 0;
      color: @white;
      font-size: 30px;

      @media screen and (min-width: 767px) {
        display: none;
      }
    }

    .header-title {
      display: flex;
      flex: 1;
      justify-content: center;

      color: white;
      font-size: 30px;
    }
  }
}