.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  width: 100%;

  background-image: radial-gradient(circle,#3dcaff,#00aeef);

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    @media screen and (min-width: 767px) {
      width: 300px;
    }

    .ant-row {
      width: 100%;

      text-align: center;

      &.form-title {
        color: @white;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}